<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>TranslateApp</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="static/favicon.ico" sizes="any">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="align-center">
        <h1> English to Finnish translator using opus-mt-en-fi</h1>
        <p>Enter the text you want to translate into the box below</p>
        <form action="/" method="post">
            <textarea id="dataInput" name="dataInput" rows="10" cols="50">{{ prompt }}</textarea>
            <br>
            <input type="submit" value="Translate">
        </form>
        <div class="output-box">
            {% if output %}
                <p>Translation: {{ output }}</p>
            {% endif %}
        </div>
    </div>
</body>