* {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
}

body {
    margin: 5em auto auto auto;
    max-width: 70em;
    background-color: wheat;
}

.align-center {
    text-align: center;
}

#dataInput {
    border: solid linen;
    border-radius: 1em;
    padding: 0.3em;
    min-height: 5em;
    min-width: 10em;
    max-width: 900px;
    max-height: 600px;
}